/* Use this color palette for theme */
/* light to dark
#2e5266 charcoal
#6e8898 state gray
#9fb1bc cadet gray
#d3d0cb timber wolf
#e2c044 old gold
*/
/* https://coolors.co/2e5266-6e8898-9fb1bc-d3d0cb-e2c044 */
/* General style */

body {
  background-color: #9fb1bc; /* Cadet Gray */
  font-size: 16px;
  font-family: cursive;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

button,
select,
option {
  font-family: cursive;
}

a {
  text-decoration: none;
}

textarea {
  max-width: 100%;
}
.round-button {
  font-family: cursive;
  border-radius: 10% / 50%;
  background-color: #2e5266;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 5px 10px;
}

button:hover {
  cursor: pointer;
  background-color: #e2c044;
}

.square-button {
  font-family: cursive;
  background-color: #2e5266;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 5px 10px;
}

.square-button:disabled {
  background-color: #6e8898;
}

.left-arrow-button {
  font-family: cursive;
  background-color: #2e5266;
  color: white;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  padding: 0.7rem;
  padding-left: 1rem;
  margin: 5px 10px;
}

.right-arrow-button {
  font-family: cursive;
  background-color: #2e5266;
  color: white;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  padding: 0.7rem;
  padding-right: 1rem;
  margin: 5px 10px;
}

.left-arrow-button:disabled {
  background-color: #6e8898;
}
.right-arrow-button:disabled {
  background-color: #6e8898;
}

/* svg {
  min-width: 18px;
  min-height: 18px;
} */

/* Footer */

.scroll-to-top-button {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.scroll-to-top-button button {
  background-color: #2e5266; /* Charcoal */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
}

.scroll-to-top-button button:hover {
  background-color: #e2c044; /* Old Gold */
  cursor: pointer;
}

.hidden {
  display: none;
}

address {
  background-color: #6e8898; /* State Gray */
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: center;
}

address > p {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

address a {
  color: black;
}

address > p:hover {
  cursor: pointer;
}

.email:hover .icon {
  color: #007bff; /* Bootstrap Blue */
}

.phone:hover .icon {
  color: red;
}

.linkedin:hover .icon {
  color: #0077b5; /* LinkedIn Blue */
}

/* Cosmania */

.tab-button-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 100%;
}
.tab-button {
  background-color: #d3d0cb;
  padding: 0 15px;
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.tab-button:hover {
  background-color: #e2c044;
}

.tab-content-container {
  background-color: #d3d0cb; /* Timber Wolf */
  border: 1px solid;
  max-width: 100%;
}

.tab-content-inactive {
  display: none;
}

.tab-content-active {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  margin: 0 10px;
  max-width: 100%;
  padding-bottom: 15px;
}

.tab-table {
  display: grid;
  width: 100%;
  padding: 20px 0;
}

.tab-td img {
  max-width: 480px;
  max-height: 270px;
}

.tab-tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 0 10px;
}

@media screen and (max-width: 1550px) {
  .tab-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    width: 80%;
    padding: 10px 0;
  }
  .tab-thead > .tab-tr {
    display: grid;
    grid-template-rows: repeat(3, 270px);
    justify-items: center;
    align-items: center;
    gap: 10px 0;
  }

  .tab-tbody > .tab-tr {
    display: grid;
    grid-template-rows: repeat(auto-fill, 270px);
    justify-items: center;
    gap: 10px 0;
  }
}
@media screen and (max-width: 1150px) {
  .tab-thead > .tab-tr {
    display: grid;
    grid-template-rows: repeat(3, 270px);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px 10px;
  }

  .tab-tbody > .tab-tr {
    display: grid;
    grid-template-rows: repeat(auto-fill, 270px);
    grid-template-columns: 3fr;
    justify-items: center;
    gap: 10px 0;
  }
}

@media screen and (max-width: 854px) {
  body {
    font-size: 14px;
  }

  .tab-button {
    padding: 0 5px;
  }

  .tab-thead > .tab-tr {
    display: grid;
    grid-template-rows: repeat(3, 180px);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px 10px;
  }

  .tab-tbody > .tab-tr {
    display: grid;
    grid-template-rows: repeat(auto-fill, 180px);
    grid-template-columns: 3fr;
    justify-items: center;
    gap: 10px 0;
  }
  .tab-td img {
    max-width: 320px;
    max-height: 180px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
  .tab-td img {
    max-width: 256px;
    max-height: 144px;
  }

  .tab-thead > .tab-tr {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 144px);
    gap: 10px 0;
  }
  .tab-th {
    transform: rotate(-90deg);
  }
}

.main-container {
  z-index: auto;
  padding: 60px 40px 0 40px;
}

@media screen and (max-width: 1150px) {
  .main-container {
    padding: 240px 40px 0 40px;
  }
}

@media screen and (max-width: 854px) {
  .main-container {
    padding: 200px 40px 0 40px;
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    padding: 160px 40px 0 40px;
  }
}

.tab-container {
  align-items: flex-start;
  flex-direction: column;
  padding: 70px 20px 0 20px;
  z-index: auto;
}

/* jank-bot */

.jank-bot-theme {
  font-family: "VT323", monospace;
  font-style: normal;
}

.jank-bot-theme em {
  color: darkred;
  font-weight: lighter;
}

/* nav-bar */

.nav-bar-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #2e5266; /* Charcoal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-bar-container a {
  font-size: 1.5em;
  color: white;
  font-weight: normal;
  cursor: pointer;
}

.nav-bar-container a:hover {
  color: #e2c044; /* Old Gold */
  text-shadow: 1px 1px 1px yellow;
}

.nav-bar-container li {
  list-style: none;
  width: 200px;
  text-align: center;
}

.nav-bar-container .active {
  color: #d3d0cb; /* Timber Wolf */
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 10px;
}

.nav-sub-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 100%;
  background-color: #6e8898; /* State Gray */
}

.nav-sub-menu > li {
  text-align: left;
  padding: 2px 20px;
}

@media screen and (max-width: 1150px) {
  .nav-bar-container {
    justify-content: center;
    align-items: normal;
  }
  .nav-bar {
    flex-direction: column;
    padding: 0;
    gap: 5px;
    align-items: center;
  }
  .nav-sub-menu {
    align-items: center;
    position: relative;
    top: 0%;
  }
  .nav-bar > li {
    width: 100%;
  }
  .nav-sub-menu > li {
    text-align: center;
    padding: 5px 0;
  }
}

/* icon */

.icon {
  width: 1em;
  height: 1em;
  padding: 0 0.5em;
}

/* education */
.education-style img {
  width: 50px;
  height: auto;
}

.education-style h1 {
  display: flex;
  gap: 10px;
}

.tooltip-container > div {
  max-width: 60%;
}

/* Roadmap */
:root {
  --grid-rows: 4;
  --grid-columns: 3;
}

.roadmap-container {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-columns),
    1fr
  ); /* Use CSS variable for columns */
  grid-template-rows: repeat(
    var(--grid-rows),
    1fr
  ); /* Use CSS variable for rows */
  gap: 10px; /* Optional: space between cells */
}

.grid-cell {
  border: 1px solid #ccc; /* Optional: visual separation */
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap-step {
  text-align: center;
}

/* Query Engine */
.code-block {
  height: 300px;
  overflow-y: scroll;
  padding: 15px;
}

#search-filter {
  display: grid;
  grid-template-columns: repeat(2, 20em);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em 2em;
  grid-auto-flow: row;
  padding-bottom: 10px;
}

#search-filter > div {
  display: flex;
  border: 1px solid;
}

#search-filter label {
  display: inline-block;
  width: 10em;
  padding-left: 10px;
}

#search-filter label:hover {
  cursor: pointer;
  background-color: #e2c044;
}

#search-filter input {
  flex: 1;
}

.demo-container > div {
  margin: 15px 0;
}

#result-container-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#result-container-table {
  width: 100%;
  text-align: center;
  border: 2px solid;
  padding: 0 10px;
  margin-top: 20px;
  border-spacing: 5px 10px;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

#result-container-table th,
td {
  border: 1px solid black;
  padding: 0.1em 0;
}

#result-container th {
  cursor: pointer;
}

.field-name {
  margin: 0;
}
@media screen and (max-width: 854px) {
  #search-filter {
    display: grid;
    grid-template-columns: 20em;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 576px) {
  #result-container-table {
    font-size: 10px;
  }
}

/* Visual Novel */
.visual-novel-container {
  max-height: 1000px;
  max-width: 100%;
  width: 100%;
  border: 3px solid #000;
  background-color: dimgrey;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.visual-novel-choices {
  padding: 15px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visual-novel-top-ui {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.visual-novel-bot-ui {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.visual-novel-profile {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}

.visual-novel-profile-item {
  padding: 10px;
}

.visual-novel-background {
  width: auto; /* Full width of the container */
  max-height: 600px; /* Ensure it doesn't exceed the container height */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Maintain aspect ratio and show the entire image */
}

#audio-player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#audio-player-volume {
  padding-left: 10px;
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  max-width: 20%;
}

.error-message {
  color: rgba(255, 0, 0, 0.75);
  font-size: 0.8em;
  font-weight: bold;
}

/* new comment */
.new-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
