/* Use this color palette for theme */
/* light to dark
#2e5266 charcoal
#6e8898 state gray
#9fb1bc cadet gray
#d3d0cb timber wolf
#e2c044 old gold
*/
/* https://coolors.co/2e5266-6e8898-9fb1bc-d3d0cb-e2c044 */
/* General style */

body {
  background-color: #9fb1bc; /* Cadet Gray */
  font-size: 18px;
  font-family: cursive;
}

a {
  text-decoration: none;
}

/* svg {
  min-width: 18px;
  min-height: 18px;
} */

/* Footer */

.scroll-to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-button button {
  background-color: #2e5266; /* Charcoal */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
}

.scroll-to-top-button button:hover {
  background-color: #e2c044; /* Old Gold */
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  padding-top: 20px;
}

address {
  background-color: #6e8898; /* State Gray */
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: center;
}

address > p {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

address a {
  color: black;
}

address > p:hover {
  cursor: pointer;
}

.email:hover .icon {
  color: #007bff; /* Bootstrap Blue */
}

.phone:hover .icon {
  color: red;
}

.linkedin:hover .icon {
  color: #0077b5; /* LinkedIn Blue */
}

/* Cosmania */

/* .tab-button {
  background-color: #d3d0cb;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid;
}

.tab-button:hover {
  background-color: #e2c044;
} */

/* .tab-button {
  background-color: #d3d0cb;
  padding: 10px 25px;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 50% 50% 0 0;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  position: relative;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
}

.tab-button:hover {
  background-color: #e2c044;
} */

.tab-button {
  background-color: #d3d0cb;
  padding: 15px 30px;
  border: 2px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
  position: relative;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
}

.tab-button:hover {
  background-color: #e2c044;
}

.tab-content-container {
  background-color: #d3d0cb; /* Timber Wolf */
  padding: 0 5%;
  border: 1px solid;
}

.main-container {
  z-index: auto;
  padding: 10% 5% 0 5%;
}

@media only screen and (max-width: 600px) {
  .main-container {
    padding: 15% 5% 0 5%;
  }

  .tab-container {
    padding: 20% 5% 40% 5%;
  }

  img {
    max-width: 180px;
  }
}

.tab-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 15vh 5vh 5vh 5vh;
  z-index: auto;
}

img {
  max-width: 480px;
}

/* jank-bot */

.jank-bot-theme {
  font-family: "VT323", monospace;
  font-style: normal;
}

.jank-bot-theme h1 {
  font-weight: bolder;
}

.jank-bot-theme em {
  color: darkred;
  font-weight: lighter;
}

/* nav-bar */

.nav-bar-container {
  background-color: #2e5266; /* Charcoal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-bar-container a {
  font-size: 1.5em;
  color: white;
  font-weight: normal;
  cursor: pointer;
}

.nav-bar-container a:hover {
  color: #e2c044; /* Old Gold */
  text-shadow: 1px 1px 1px yellow;
}

.nav-bar-container li {
  list-style: none;
  width: 200px;
  text-align: center;
}

.nav-bar-container .active {
  color: #d3d0cb; /* Timber Wolf */
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 10px;
}

.nav-sub-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 100%;
  background-color: #6e8898; /* State Gray */
}

.nav-sub-menu > li {
  text-align: left;
  padding: 2px 20px;
}

/* icon */

.icon {
  width: 1em;
  height: 1em;
  padding: 0 0.5em;
}

/* education */
.education-style img {
  width: 50px;
  height: auto;
}

.education-style h1 {
  display: flex;
  gap: 10px;
}

/* Roadmap */
:root {
  --grid-rows: 4; /* Default grid size */
  --grid-columns: 3;
}

.roadmap-container {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-columns),
    1fr
  ); /* Use CSS variable for columns */
  grid-template-rows: repeat(
    var(--grid-rows),
    1fr
  ); /* Use CSS variable for rows */
  gap: 10px; /* Optional: space between cells */
}

.grid-cell {
  border: 1px solid #ccc; /* Optional: visual separation */
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap-step {
  text-align: center;
}

/* Demo */
.code-block {
  height: 300px;
  overflow-y: scroll;
  padding: 15px;
}

.search-filter {
  display: grid;
  grid-template-columns: repeat(2, 20em);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em 2em;
  grid-auto-flow: row;
}

.search-filter > div {
  display: flex;
  border: 1px solid;
}

.search-filter label {
  cursor: pointer;
  display: inline-block;
  width: 10em;
  margin-left: 10px;
}

.search-filter input {
  flex: 1;
}

.demo-container > div {
  margin: 15px 0;
}

.search-filter-buttons > button {
  cursor: pointer;
  margin-right: 10px;
}

.result-container th {
  cursor: pointer;
}

.result-container > table,
th,
td {
  text-align: center;
  border: 2px solid;
  padding: 0 10px;
  min-width: 8em;
  min-height: 3em;
  border-spacing: 5px 10px;
}

.result-container p {
  margin: 0;
}
